body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    border-radius: 20px;
    max-width: 400px;
    margin-left: 100px auto;
    margin-right: 100px auto;
    margin-top: 100px auto;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.center{
    display: flex;
    justify-content: center;
}

.logincontainer{

    max-width: 200px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(100, 94, 98);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
/* For a medium-sized image with a specific width */
.event-image {
    max-width: 365px;
    margin: 20px auto;
    background-color: rgb(151, 144, 144);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.loginh1 {
    text-align: center;
    margin-bottom: 5px;
    color: rgb(192, 183, 183);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.loginp {
    text-align: center;
    color:rgb(192, 183, 183)
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
