@font-face {
  font-family: 'AchieveBold';
  src: url('../fonts/Achieve-Bold.otf') format('opentype');
}

body {
    font-family: 'AchieveBold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    border-radius: 20px;
    max-width: 400px;
    margin-left: 100px auto;
    margin-right: 100px auto;
    margin-top: 100px auto;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.center{
    display: flex;
    justify-content: center;
}

.logincontainer{

    max-width: 200px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
.form-group-text{
  width:400px;
  padding:20px;
  margin-left:440px;
  margin-top: -40px;
  background-color: rgb(7, 7, 7);
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}
#signup{
  margin-left:440px;
}
#signup-btn{
  margin-top:-18px;
  margin-left:440px;
  height:70px;
}
}
#sign-up-pg{
  margin-left: 432px;
}
#pronouns{
  margin-bottom: 20px;
}
.form-group-btn{
  width:400px;
  padding:10px;
  margin-left:440px;
  margin-top: -40px;
  background-color: rgb(7, 7, 7);
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  text-align: center;
}
/* For a medium-sized image with a specific width */
.event-image {
    max-width: 365px;
    margin-top:-70px;
    margin-bottom: 10px;
    background-color: rgb(151, 144, 144);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.crowd-image{
    max-width: 365px;
    margin: 20px auto;
    background-color: rgb(151, 144, 144);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.loginh1 {
    text-align: center;
    margin-bottom: 5px;
    color: rgb(192, 183, 183);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.loginp {
    text-align: center;
    color:rgb(192, 183, 183)
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Update the CSS for the event container to use flexbox */
.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed to control the space between items */
}

.event-card {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.event-header1{
  margin-top: -40px;
}

.event-profilehead{
  margin-top: 20px;
  text-align: center;
}

.event-land-name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0);
  font-size: 4vw;
}


/* Add CSS for the image button */
.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  /* Set the container to a fixed 16:9 aspect ratio using a padding hack */
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (h/w * 100) */
  overflow: hidden;
}

/* Set the image to take up the entirety of the container */
.event-land-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Image will take the full width of the container */
  height: 100%; /* Image will take the full height of the container */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.event-card:hover .event-land-image {
  filter: blur(10px);
  box-shadow:black
  transition: transform 0.5s ease
  
}

.event-card:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease

}

.event-card:hover .event-land-name {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  
}
.ava{
    width:100px ;
    height:100px ;
    border-radius:50% ;
    border: 5px solid black ;
    margin-top:-7.5%;
    margin-bottom: 1%;
    margin-left: 88% ; 
}
.avatar-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between; /* Adjust as needed to control the space between items */
}

.cc-top{
  font-size: 60px ;
  margin-left: 34% ;
  margin-top:20px;
}
.event-name {
  margin-left:390px;
  margin-top:-10px;
  text-decoration: underline;
  font-size:50px;
  text-align: center;
}
.event-info-content{
  width:30%;
  height:100%;
  background-color:rgb(181, 177, 177) ;
  text-align: center;
  border: 5px solid black ;
  border-radius: 10%;
}

.add-comment{
  width:95%;
  margin-left:15px;
  margin-top: 10px;
}

.search-container{
  width:300px ;
  height: 90px;
  margin-top: -60px ;
} 

.sbut {
  width:100px;
  height:42px;
  margin-left:300px;
  margin-top: -63px;
}


.comment-button {
  width: 100%;
  height: auto; /* Allow the button to adjust its height based on content */
  background-color: rgb(121, 121, 124);
  border: 10%;
  color: black;
  margin-top: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.comment-button:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.tx {
  font-size: 20px; /* Adjust the font size for comments */
  white-space: break-spaces; /* Allow long words to break and wrap */
  word-break: break-word; /* Allow words to break if they don't fit in one line */
  text-align: left;
  text-indent: 2%;
}
.usr {
  font-size: 15px;
  text-align: right;
}

.reply{
  width:560px;
  height:auto;
  background-color: rgb(181, 181, 184);
  border:10%;
  color:black;
  margin-top:30px;
  margin-left:8%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
 .bigbox{
   width: 650px;
   height: 490px;
   margin-top:-490px;
   margin-left: 510px;
   background-color: #c5c9cc;
   border: 5px solid black;
   border-radius: 10px;
   overflow-y:scroll ;
 }
 .bigbox::-webkit-scrollbar {
   display: none;
}

.navbar-container {
  width: 50%;
  margin-left: auto;
}
.navbar-pic{
  display: flex;
  margin-left: 10px;
  margin-top: -7px;

}
.navbar-buttons {
  display: flex;
  margin-left: 80%;
  margin-top: -20%;
}

.navbar {
  background-color:transparent;
  color: #fff;
  display: flex;
  justify-content: space-between;
  width:200px;
  height:50px;
  margin-left:400px;
  margin-top:-40px;
  
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.profnavbar{
  background-color: #c5c9cc80;
  display: flex;
  width: auto;
  height:180px;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  
}


.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left:-100%;
  margin-top: -42px;
  border-style: solid;
  
}

.mainprofile-pic{
  width: 170px;
  height: 170px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-style: solid;

}

.profnavbaritems{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mainprofile-usr{
  font-size: 3em;
  text-decoration: underline;
  margin-top: auto;
  margin-bottom: auto;
}

#prof_btn{
  width:40px;
  height:40px;
  border-radius: 50%;
  margin-left: 20px;
  border-style: solid;
}

.logout-btn {
  background-color: #fff;
  color: #333;
  border: 3px solid black;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left:-15%;
  margin-top: -20px;
}

.logout-btn:hover {
  background-color: #ddd;
}


.bkgd{
  position:static;
  height:680px;
            background-image: url('../intro_vid/crowd-clique.gif');
            background-position:center;
            background-repeat: no-repeat;
            background-size: cover;
}

.avatar-button{
    padding: 0px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-left: 50px;
    transition: background-color 0.3s;

}
