{% extends "post_entry.html" %}
{% block inner_content %}
  {% if event_details == None %}
    <h2>Event Not Found</h2>
  {% else %}
    <div class="event-info ">
      <div class="event-image-container">
        {% if event_details['image'] %}
          <img class="event-image" src="{{ event_details['image'] }}" alt="Event Image">
        {% else %}
          <p>No event image available.</p>
        {% endif %}
      </div>
      <div class="event-info-content">
        <h1>{{ event_details['name'] }}</h1>
        <table>
          <tr>
            <th>Venue:</th>
            <td id="venue">{{ event_details['venue'] }}</td>
          </tr>
          <tr>
            <th>Date:</th>
            <td id="date">{{ event_details['date'] }}</td>
          </tr>
          <tr>
            <th>Time:</th>
            <td id="time">{{ event_details['time'] }}</td>
          </tr>
          <tr>
            <th>Address:</th>
            <td id="time">{{ event_details['address']|safe }}</td>
          </tr>
          <tr>
            <th>
              <td>
                {% if not in_db %}
                  <form action="{{ url_for('add_attendee') }}" method="POST">
                    <input type="hidden" name="event_id" value="{{ event_details['id'] }}">
                    <button type="submit">Attending?</button>
                  </form>
                {% else %}
                  <form action="{{ url_for('remove_attendee') }}" method="POST">
                    <input type="hidden" name="event_id" value="{{ event_details['id'] }}">
                    <button type="submit">Attending</button>
                  </form>
                {% endif %}
              </td>
            </th>
          </tr>
          <tr>
            <th>Attendees:</th>
            <td>
              <table>
                <tbody>
                    {% for attendee in attendees %}
                    <tr>
                        <td>
                        <form action="{{ url_for('profile') }}" method="POST">
                            <input type="hidden" name="user_name" value="{{ attendee.user_name }}">
                            <button type="submit" class="link-button">{{ attendee.user_name }}</button>
                        </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </div>
        {% block comment %}{% endblock %}
  {% endif %}
{% endblock inner_content %}
