{% extends "entry.html" %}
{% block inner_content %}

{{ blah }}
<form action="{{ url_for('login') }}" method="POST"> <!-- Replace "/login" with the actual login endpoint -->
   {{ form.hidden_tag() }}
    <fieldset class="form-group-text">
        <div class="form-group">
            {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
            {% endif %}
        </div>
        <div class="form-group">
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group-btn">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
{% endblock inner_content %}
  