{% extends "layout.html" %}
{% block content %}
    <div class="avatar-container">
        <h1 class="cc-top">CROWD CLIQUE</h1>
        <img class="ava" src="{{ url_for('static', filename=user.avatar) }}" alt="Avatar">
    </div>
    <div class="search-container">
        <form action="{{ url_for('search') }}" method="POST">
            <input type="text" name="search" placeholder="Search..." required>
            <button type="submit">Search</button>
        </form>
    </div>
    <br>
    <br>
    {% block inner_content %}
        <!-- Your table structure and content here -->
    {% endblock %}
{% endblock %}
