{% extends "layout.html" %}
{% block content %}
    <div>
        <h1 class="cc-top">CROWD CLIQUE</h1>
    </div>
    <div class="navbar-container">
    <nav class="navbar">
    <div class="navbar-brand">
        <form action= "{{url_for('profile')}}" method="POST">
        <button type ="submit" class= "navbar-buttons" id="prof_btn">
      <img class="profile-pic" src= "{{ url_for('static', filename=user.avatar)}}" alt="Avatar">
        </button>
        </form>
    </div>
    <div class="navbar-buttons">
        <form action= "{{url_for('logout')}}">
        <button class="logout-btn" type="submit" >Logout</button>
        </form>
    </div>
  </nav>
    </div>
    <div class="search-container">
        <form action="{{ url_for('search') }}" method="POST">
            <input type="text" name="search" placeholder="Search..." required>
            <button type="submit" class="sbut">Search</button>
        </form>
    </div>
    <br>
    <br>
    {% block inner_content %}
        <!-- Your table structure and content here -->
    {% endblock %}
{% endblock %}
